# Compiled C library
sample/wsggapp
sample/wsggapp.exe
*.exe
*.dll
*.so
*.o

# Mesh files
*.cgns
*.msh

# Fluent cleanup files
cleanup-fluent-*

# Fluent automatic transcript
fluent-*.trn

# Logs
*.log

# UDF related
udfconfig-host.h
src/libudf

# Python cache files
__pycache__/
*.pyc

# Python install
*.egg-info/
*.dist-info/
build/
dist/

# Virtual environment
.venv/
