#######################################################################
# Project specific
#######################################################################

script/postprocess.png
results.csv

#######################################################################
# Default stack
#######################################################################

.stack-work/
*~

#######################################################################
# Python
#######################################################################

__pycache__/
*.py[cod]
