# Ignore Copilot instructions file:
.github/copilot-instructions.md

# Virtual environment:
.venv

# Report files:
*.html
*.pdf
*.quarto_ipynb

# Generated mesh files:
*.brep
*.msh
*.su2

# SU2 model:
model-su2/restart/*
model-su2/solution_*
model-su2/volume_*
model-su2/stop.ps1
model-su2/*.csv
model-su2/*.su2
model-su2/log.*
model-su2/*.log